    // FONT
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
    // VARIABLES
    @import "../style/variables.scss";

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// BODY
body {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
}
.container {
    width: $containerWidth;
    margin: auto;
}

// COMMON
li {
    list-style: none;
}
